/* html {
  scroll-snap-type: y mandatory;
}

body {
  scroll-snap-type: y mandatory;
}

.section {
  scroll-snap-align: start;
  height: 70vh;
} */

#myVideo {
  display: flex;
}

#myVideo2 {
  left: 0;
}

video {
  min-width: none !important;
}

.fundo {
  position: fixed;
  right: 0;
  bottom: -50%;
  min-width: 100%;
  min-height: 100%;
}
