/* 
Verde: #edf1f2
Roxo: #d2d6e1
Rosa: #f9e5e4
Salmao: #ecc1bb
Marrom: #5b2e35
*/

/* html {
  scroll-snap-type: y mandatory;
}

body {
  scroll-snap-type: y mandatory;
}

.section {
  scroll-snap-align: start;
  height: 70vh;
} */

#myVideo {
  display: flex;
}

.welcome-title {
  font-size: 55px;
  /* font-weight: 100; */
  font-family: "Tiro Tamil", serif;
  text-transform: none !important;
  margin: 13px 0 0 0 !important;
  /* color: #a2e9cf85; */
}

.welcome-box p {
  font-family: "Gowun Batang", serif;
  font-size: 36px;
}

#baixo {
  font-family: "Gowun Batang", serif;
  font-size: 36px;
}

#myVideo2 {
  left: 0;
}

video {
  min-width: none !important;
}

.fundo {
  position: fixed;
  right: 0;
  bottom: -27%;
  min-width: 100%;
  min-height: 100%;
}

iframe {
  border-radius: 4%;
  /* width: 500px; */
}

.mt-3 {
  margin-top: 0 !important;
}

small {
  font-size: 14px;
}

.video {
  width: 250px;
}

@media only screen and (max-width: 1440px) {
  .about-img {
    margin-right: 15px;
  }
  .about-img {
    margin: 20px auto 0px;
    position: relative;
    width: 73%;
  }
}

.welcome-title {
  /* font-family: "Alex Brush", cursive; */
  /* font-weight: none;
  font-weight: 700;
  text-transform: none; */
}

@media only screen and (max-width: 780px) {
  .fundo {
    display: none;
    /* bottom: 0; */
  }
  html {
    scroll-snap-type: y mandatory;
  }

  body {
    scroll-snap-type: y mandatory;
  }

  .section {
    scroll-snap-align: start;
    height: 70vh;
  }
}
